@page "/getintouch"

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa fa-phone text-primary my-3"></i>
        <p>
            BTK Tüketici İletişim Merkezi 120
        </p>

        <i class="fa-solid fa-location-dot text-primary my-3"></i>        
        <p>
           Eskişehir Yolu 10.Km No:276 06530 Çankaya/Ankara
        </p>

        <i class="fa-solid fa-envelope text-primary my-3"></i>        
        <p>
            destek@btkakademi.gov.tr
        </p>
    </div>
</div>
